<template>
  <div class="array-editor">
    <slot name="header">
      <v-container fluid class="header" :class="{'has-error': error}">
        <v-row>
          <div class="actions" v-if="!condensed"></div>
          <v-col v-for="header in headerValues" :key="header">
            <span>{{header | CamelSpaces}}</span>
          </v-col>
        </v-row>
      </v-container>
    </slot>
    <div class="scroll-y" ref="content">
      <h2 v-if="!value.length" class="center">Much empty</h2>
      <div
        class="entry"
        @mouseover="hover=idx"
        @mouseleave="hover=-1"
        :class="{odd: idx % 2 == 1, even: idx % 2 === 0, editing: editing === idx}"
        v-for="(field, idx) of value"
        :key="idx"
        @click="edit(idx)"
      >
        <div
          class="actions"
          :class="{condensed}"
          v-if="(touchSupport() && editing === idx) || !touchSupport()"
        >
          <v-btn
            v-if="editing === idx"
            :x-large="condensed"
            class="action"
            icon
            color="warning"
            :tabindex="value.length + 3"
            @click.stop="discard()"
          >
            <v-icon>mdi-undo</v-icon>
          </v-btn>
          <v-btn
            v-if="editing === idx"
            :x-large="condensed"
            class="action"
            :tabindex="value.length + 2"
            icon
            color="accent"
            @click.stop="trySave()"
          >
            <v-icon>mdi-check</v-icon>
          </v-btn>
          <v-tooltip
            v-if="((touchSupport() && editing === idx) || (hover===idx && editing === -1))"
            right
          >
            <template #activator="{on}">
              <v-btn
                v-on="on"
                :x-large="condensed"
                class="action"
                icon
                color="error"
                @click.stop="remove(idx)"
              >
                <v-icon>mdi-close</v-icon>
              </v-btn>
            </template>
            Remove {{model.name}}
          </v-tooltip>
          <v-btn v-else-if="editing === -1 && !touchSupport()" tabindex="-1" icon>
            <v-icon>mdi-pencil</v-icon>
          </v-btn>
        </div>
        <v-container>
          <v-row class="row" :class="{edit: editing === idx}">
            <v-col
              class="vertical-align"
              v-for="(propName, fieldIndex) in headerValues"
              :key="propName"
              @click="editing === idx ? active=propName : undefined"
            >
              <slot
                :name="(editing === idx && active === propName ? 'edit:' : 'view:') + propName"
                :dismiss="() => active=null"
                :activate="active === propName"
                :value="editing === idx ? edits : field"
                :condensed="condensed"
              >
                <component
                  :key="propName"
                  :is="component(field[propName])"
                  v-bind="options(field, propName, editing === idx)"
                  class="input"
                  :dense="!condensed"
                  :tabindex="fieldIndex + 1"
                  :placeholder="propName | CamelSpaces"
                  solo
                  :flat="editing !== idx"
                  :readonly="editing !== idx"
                  :value="editing !== idx ? field[propName] : edits[propName]"
                  @input="edits[propName]=$event"
                />
              </slot>
            </v-col>
          </v-row>
        </v-container>
      </div>
    </div>
    <v-btn color="accent" ref="add" class="ma-2" :disabled="editing > -1" @click="insert()">
      <v-icon>mdi-plus</v-icon>
      <span>New</span>
    </v-btn>

    <v-snackbar v-if="error" v-model="error" bottom color="error" :timeout="3000">{{error}}</v-snackbar>
  </div>
</template>

<style lang="scss">
.array-editor {
  position: relative;
  overflow: hidden;

  .header {
    &.has-error,
    .has-error {
      span {
        color: var(--v-error-base);
      }
    }
  }

  .scroll-y {
    height: 400px;
    width: 100%;
    overflow-x: hidden;
    padding-top: 0;
    background-color: #ececec;
    overflow-y: auto;
  }
  .entry {
    position: relative;
    display: flex;
    cursor: pointer;
    .vertical-align {
      align-self: center;
    }
    &.odd {
      background: #ececec;
    }
    &.even {
      background: white;
    }
  }

  .row:not(.edit) {
    .theme--light.v-text-field--solo > .v-input__control > .v-input__slot {
      background: inherit;
    }
  }
  .v-text-field__details {
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    padding: 0;
    margin: 0;
  }
  .shake {
    animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  .actions {
    width: 50px;
    align-self: center;
  }
  .actions.condensed {
    position: absolute;
    display: flex;
    justify-content: space-around;
    width: 160px;
    left: calc(50% - 80px);
    right: calc(50% - 80px);
    top: -50px;
    background: white;
    border: solid 1px black;
    border-radius: 15px;
  }
  .center {
    color: white;
    text-align: center;
    top: 50%;
    bottom: 50%;
    height: 100%;
  }

  @keyframes shake {
    10%,
    90% {
      transform: translate3d(-1px, 0, 0);
    }

    20%,
    80% {
      transform: translate3d(2px, 0, 0);
    }

    30%,
    50%,
    70% {
      transform: translate3d(-4px, 0, 0);
    }

    40%,
    60% {
      transform: translate3d(4px, 0, 0);
    }
  }
}
</style>

<script>
export default {
  name: "array-editor",
  data() {
    return {
      hover: -1,
      inserting: false,
      edits: null,
      editing: -1,
      errors: {},
      error: null,
      active: null
    };
  },
  computed: {
    headerValues() {
      if (this.headers && this.headers.length) return this.headers;
      return (this.edits && Object.keys(this.edits)) || [];
    },
    condensed() {
      return this.$vuetify.breakpoint.xs;
    }
  },
  mounted() {
    this.initializeErrors();
  },
  props: {
    value: Array,
    headers: Array,
    save: Function,
    model: {
      type: Function,
      required: true
    }
  },
  watch: {
    value: {
      handler(v) {
        this.$emit("input", v);
      },
      deep: true
    },
    editing: {
      handler() {
        this.edits = new this.model(this.value[this.editing]);
      },
      immediate: true
    }
  },
  methods: {
    component(value) {
      const type = typeof value;
      if (type === "boolean") return "boolean-editor";
      if (value instanceof Date) return "date-editor";
      if (value instanceof Number) return "string-editor";
      return "string-editor";
    },
    options(parent, prop, editing) {
      const result = {};
      const value = parent[prop];
      if (typeof value === "number") {
        result.type = "number";
      }
      if (editing) result.messages = this.errors[prop];
      return result;
    },
    async insert() {
      this.inserting = true;
      this.value.push(new this.model());
      this.editing = this.value.length - 1;
      await this.$nextTick();
      const field = this.$refs.content.querySelector(".entry:last-child");
      await this.smoothScroll(field);
      field.querySelector("input").focus();
    },
    edit(idx, $event) {
      let apply = true;
      let target;
      if (this.editing > -1) {
        if (this.editing === idx) return;
        const field = this.$el.querySelector(".editing");
        field.scrollIntoView({ behavior: "smooth" });
        this.shake(this.$el.querySelectorAll(".editing .actions .action"));
        return;
      }
      if (idx !== this.editing) {
        if (apply) {
          target = this.value[idx];
          this.edits = this.value.slice(this.editing, 1);
          idx = this.value.indexOf(target);
        }
      }
      if (apply && this.editing === -1) {
        this.editing = idx;
      }
    },
    discard() {
      if (this.inserting) {
        this.inserting = false;
        this.value.splice(this.value.length - 1, 1);
      }
      this.edits = new this.model();
      this.editing = -1;
      this.initializeErrors();
      this.active = null;
    },
    async remove(idx) {
      const removed = this.value.splice(idx, 1);
      this.editing = -1;
      try {
        await this.save();
      } catch (e) {
        this.error = e.join(", ");
        this.value.splice(idx, 0, removed[0]);
        await this.shake(
          this.$el.querySelectorAll(
            ".editing .actions .action:nth-child(2), .v-messages"
          )
        );
      }
      this.active = null;
    },
    async trySave() {
      if (!(await this.valid())) {
        this.shake(
          this.$el.querySelectorAll(
            ".editing .actions .action:nth-child(2), .v-messages"
          )
        );
        return;
      }
      const oldValue = this.value[this.editing];
      try {
        this.error = null;
        this.value[this.editing] = this.edits;
        await this.save();
        this.editing = -1;
        this.inserting = false;
        await this.$nextTick();
        this.$refs.add.$el.focus();
      } catch (e) {
        this.error = e.join(", ");
        this.value[this.editing] = oldValue;
        await this.shake(
          this.$el.querySelectorAll(
            ".editing .actions .action:nth-child(2), .v-messages"
          )
        );
      }
      this.active = null;
    },
    async valid() {
      const valid = this.edits.validate();
      if (valid) {
        this.$set(this, "errors", valid);
        await this.$nextTick();
        return false;
      } else {
        this.$set(this, "errors", {});
        return true;
      }
    },
    async shake(elements) {
      return new Promise(resolve => {
        elements.forEach(el => el.classList.add("shake"));
        setTimeout(() => {
          elements.forEach(el => el.classList.remove("shake"));
          resolve();
        }, 820);
      });
    },
    smoothScroll(elem, offset = 0) {
      elem.scrollIntoView({ behavior: "smooth" });
      return new Promise(resolve => {
        setTimeout(() => {
          resolve();
        }, 500);
      });
    },
    touchSupport() {
      return (
        this.condensed ||
        (window.DocumentTouch && document instanceof DocumentTouch)
      );
    },
    initializeErrors() {
      const errors = {};
      Object.keys(new this.model()).forEach(prop => (errors[prop] = []));
      this.$set(this, "errors", errors);
      this.error = null;
    }
  }
};
</script>