<template>
  <v-checkbox class="boolean-editor" v-bind="$attrs" v-model="model" :label="name"></v-checkbox>
</template>

<style lang="scss">
.boolean-editor {
  &.v-input--selection-controls {
    margin-top: 5px;
  }
}
</style>

<script>
export default {
  inheritAttrs: false,
  props: {
    name: String,
    value: Boolean
  },
  data() {
    return {
      model: false
    };
  },
  watch: {
    value: {
      handler() {
        this.model = this.value;
      },
      immediate: true
    },
    model() {
      this.$emit("input", this.model);
    }
  }
};
</script>