<template>
  <v-menu
    ref="menu"
    v-model="menu"
    :close-on-content-click="false"
    :return-value.sync="model"
    transition="scale-transition"
    offset-y
    min-width="290px"
  >
    <template v-slot:activator="{ on  }">
      <v-text-field
        v-bind="$attrs"
        v-model="model"
        :label="name"
        prepend-icon="mdi-calendar"
        clearable
        @click.clear="model = null"
        readonly
        v-on="on"
      ></v-text-field>
    </template>
    <v-date-picker v-model="model" no-title scrollable>
      <v-spacer></v-spacer>
      <v-btn text color="primary" @click="menu = false">Cancel</v-btn>
      <v-btn text color="primary" @click="$refs.menu.save(model)">OK</v-btn>
    </v-date-picker>
  </v-menu>
</template>

<script>
export default {
  inheritAttrs: false,
  props: {
    name: String,
    value: [String, Date]
  },
  data() {
    return {
      menu: false,
      model: null
    };
  },
  watch: {
    value: {
      handler() {
        this.model = this.value;
      },
      immediate: true
    },
    model() {
      this.$emit("input", this.model);
    }
  }
};
</script>