<template>
  <div class="field-type-editor">
    <v-btn-toggle
      mandatory
      :value="!isPrimitive"
      @change="updateType($event)"
      color="secondary"
      dense
      rounded
    >
      <v-btn :value="false">Primitive</v-btn>
      <v-btn :value="true">Object</v-btn>
    </v-btn-toggle>
    <array-editor
      v-if="value.fields"
      ref="arrayEditor"
      :model="Field"
      :save="() => {}"
      :value="value.fields"
      :headers="['name', 'multiple', 'type']"
    >
      <template #edit:type="{value}">
        <string-editor :items="types" :value="value.type"></string-editor>
      </template>
    </array-editor>
    <string-editor v-else :items="types" v-model="value.type"></string-editor>
  </div>
</template>

<script>
import { Field } from "@norfield/center";
export default {
  props: {
    value: Field
  },
  data() {
    return {
      Field,
      complexType: false,
      types: ["String", "Number", "Date", "Boolean"],
      fieldCache: []
    };
  },
  computed: {
    isPrimitive() {
      return this.value.type !== undefined;
    }
  },
  methods: {
    discard() {
      if (!this.$refs.arrayEditor) return;
      this.$refs.arrayEditor.discard();
    },
    updateType(toObject) {
      if (toObject) {
        this.value.type = undefined;
        this.value.fields = this.fieldCache;
      } else {
        this.value.type = "String";
        this.fieldCache = this.value.fields;
        this.value.fields = undefined;
      }
    }
  }
};
</script>