<template>
  <div class="polygon-editor">
    <v-dialog fullscreen transition="dialog-bottom-transition" v-model="dialog">
      <template #activator="{on}">
        <v-text-field
          v-on="on"
          v-bind="$attrs"
          readonly
          prepend-inner-icon="mdi-map"
          ref="input"
          @click:prepend-inner="dialog = true"
        ></v-text-field>
      </template>
      <v-toolbar dark color="primary">
        <v-btn icon dark @click="dialog = false">
          <v-icon>mdi-close</v-icon>
        </v-btn>
        <v-toolbar-title>Geometry</v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-items>
          <v-btn
            dark
            text
            @click="save()"
            :disabled="$refs.map && !$refs.map.drawnFeatures.length > 0"
          >Save</v-btn>
        </v-toolbar-items>
      </v-toolbar>
      <v-card class="container">
        <data-map class="map" ref="map" :animating="() => {}"></data-map>
      </v-card>
    </v-dialog>
  </div>
</template>

<style lang="css">
.container {
  position: relative;
}
.map {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}
</style>

<script>
export default {
  inheritAttrs: false,
  name: "geojson-editor",
  data() {
    return {
      dialog: false
    };
  },
  props: {
    value: GeoJSON
  },
  methods: {
    save() {
      const features = this.$refs.map.drawnFeatures;
      console.log(this.$refs.map);
      this.$emit("input", new GeoJSON(features[0].geometry));
      this.dialog = false;
    }
  }
};
</script>