<template>
  <v-text-field
    v-if="!$attrs.items"
    :value="value"
    v-bind="$attrs"
    @input="update($event)"
    :label="name"
  ></v-text-field>
  <v-select
    v-else
    v-bind="$attrs"
    :value="value"
    @input="update($event)"
    item-text="label"
    :label="name"
  ></v-select>
</template>

<script>
export default {
  inheritAttrs: false,
  props: {
    name: String,
    value: [String, Number]
  },
  methods: {
    update(val) {
      if (this.$attrs.type === "number") {
        this.$emit("input", parseInt(val));
      } else {
        this.$emit("input", val);
      }
    }
  }
};
</script>