<template>
  <v-container class="center" v-if="center">
    <h1>{{center.name}}</h1>
    <h2>Ticket Configuration</h2>
    <v-tabs class="relative-wrapper">
      <v-tab>Priorities</v-tab>
      <v-tab-item>
        <div class="tab-content">
          <array-editor
            v-model="center.ticket.priorities"
            :save="() => saveConfig('priorities')"
            :model="Priority"
          ></array-editor>
        </div>
      </v-tab-item>
      <v-tab>Tags</v-tab>
      <v-tab-item>
        <div class="tab-content">
          <array-editor v-model="center.ticket.tags" :save="() => saveConfig('tags')" :model="Tag"></array-editor>
        </div>
      </v-tab-item>
      <v-tab>Fields</v-tab>
      <v-tab-item>
        <div class="tab-content">
          <array-editor
            v-model="center.ticket.fields"
            :save="() => saveConfig('fields')"
            :headers="['name', 'multiple', 'type']"
            :model="Field"
          >
            <template #view:type="{value}">
              <pre>{{formatField(value)}}</pre>
            </template>
            <template #edit:type="{value, activate, dismiss}">
              <v-dialog
                :value="activate"
                :width="value.type ? 400 : 900"
                @click:outside="dismiss()"
                eager
              >
                <v-card>
                  <v-card-title class="d-flex justify-space-between">
                    <div>Field Type</div>
                    <v-btn icon @click="dismiss()">
                      <v-icon>mdi-close</v-icon>
                    </v-btn>
                  </v-card-title>
                  <v-card-text>
                    <field-type-editor ref="fieldType" :value="value"></field-type-editor>
                  </v-card-text>
                </v-card>
              </v-dialog>
            </template>
          </array-editor>
        </div>
      </v-tab-item>
      <v-tab>Validation</v-tab>
      <v-tab-item>
        <div class="tab-content center-edits">
          <v-row>
            <v-col cols="1"></v-col>
            <v-col>
              <b>Path</b>
            </v-col>
            <v-col>
              <b>Rules</b>
            </v-col>
            <v-col cols="1"></v-col>
          </v-row>
          <v-row
            v-for="(validation, idx) of center.ticket.validation"
            :key="idx"
            class="validation table"
            :class="{odd: idx % 2 === 1}"
          >
            <v-col cols="1">
              <v-btn icon>
                <v-icon>mdi-pencil</v-icon>
              </v-btn>
            </v-col>
            <v-col>
              <v-text-field solo flat v-model="validation.path">
                <template #prepend-inner>
                  <b>ticket</b>
                </template>
              </v-text-field>
            </v-col>
            <v-col>{{validation.rules}}</v-col>
            <v-col cols="1">
              <v-btn icon @click="center.ticket.validation.splice(idx, 1)">
                <v-icon>mdi-close</v-icon>
              </v-btn>
            </v-col>
          </v-row>
          <v-btn icon>
            <v-icon>mdi-plus</v-icon>
          </v-btn>
        </div>
      </v-tab-item>
      <v-tab>Rules</v-tab>
      <v-tab-item>
        <div class="tab-content center-edits">
          <v-row>
            <v-col cols="1"></v-col>
            <v-col>
              <b>Name</b>
            </v-col>
            <v-col>
              <b>Summary</b>
            </v-col>
            <v-col>
              <b>Triggers</b>
            </v-col>
            <v-col cols="1"></v-col>
          </v-row>
          <v-row
            v-for="(rule, idx) of center.ticket.rules"
            :key="rule.name"
            class="rule table"
            :class="{odd: idx % 2 === 1}"
          >
            <v-col cols="1">
              <v-btn icon @click="edit(rule)">
                <v-icon>mdi-pencil</v-icon>
              </v-btn>
            </v-col>
            <v-col>{{rule.name}}</v-col>
            <v-col>{{summary(rule)}}</v-col>
            <v-col>{{triggers(rule)}}</v-col>
            <v-col cols="1">
              <v-btn icon @click="remove(rule)">
                <v-icon>mdi-close</v-icon>
              </v-btn>
            </v-col>
          </v-row>
          <v-btn icon @click="newRule()">
            <v-icon>mdi-plus</v-icon>
          </v-btn>
        </div>
      </v-tab-item>
      <v-tab>Try it Out</v-tab>
      <v-tab-item>
        <div class="tab-content">
          <v-layout fill-height column>
            <vue-json-editor v-model="ticket" mode="code" :show-btns="false"></vue-json-editor>

            <div class="bottom-toolbar d-flex justify-space-around">
              <v-btn color="error" @click="resetTicket()">Reset</v-btn>
              <v-btn color="secondary" @click="evaluateTicket()">Evaluate Rules</v-btn>
              <v-btn @click="validateTicket()">Validate Data</v-btn>
            </div>
          </v-layout>
        </div>
      </v-tab-item>
    </v-tabs>

    <v-dialog :value="events.length > 0" :persistent="true">
      <v-card>
        <v-card-title class="d-flex justify-space-between">
          <div>Events</div>
          <v-btn icon @click="events=[]">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-title>
        <v-card-text class="event d-flex flex-wrap">
          <v-card v-for="(event, idx) of events" :key="idx" class="ma-4" style="width: 350px">
            <v-card-title class="event-title">{{event.type}}</v-card-title>
            <v-card-text>
              <table>
                <thead>
                  <td>
                    <b>Param</b>
                  </td>
                  <td>Value</td>
                </thead>
                <tr v-for="(v, param) in event.params" :key="param">
                  <td>
                    <b>{{param}}</b>
                  </td>
                  <td>{{v}}</td>
                </tr>
              </table>
            </v-card-text>
            <v-card-actions>
              <v-btn @click="applyEvent(event)">Apply</v-btn>
            </v-card-actions>
          </v-card>
        </v-card-text>
      </v-card>
    </v-dialog>

    <v-dialog :value="rule !== undefined" :persistent="true">
      <v-card>
        <v-card-title class="title d-flex justify-space-between">
          <h2>Edit Rule</h2>
          <v-btn icon @click="rule=undefined">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-title>
        <v-card-text>
          <rule-editor :value="rule" @save="rule = undefined"></rule-editor>
        </v-card-text>
      </v-card>
    </v-dialog>

    <v-snackbar
      v-if="snack"
      v-model="snack"
      bottom
      :color="snack.color"
      :timeout="3000"
    >{{snack.message}}</v-snackbar>
  </v-container>
</template>

<style lang="scss">
.center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;

  .relative-wrapper {
    position: relative;
  }

  .table {
    .col {
      align-self: center;
    }
    &.odd {
      background-color: #f1f1f1;
    }
  }

  .jsoneditor-vue {
    height: 500px;
  }

  .bottom-toolbar {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
  }

  .center-edits {
    .theme--light.v-text-field--solo > .v-input__control > .v-input__slot {
      background: inherit;
    }
  }

  .tab-content {
    height: calc(100vh - 225px);
  }
}

.event-title {
  color: var(--v-secondary-base);
}
</style>

<script>
import _ from "lodash";
import CenterService from "../services/center-service";
import { Tag, Priority, Field } from "@norfield/center";
import Ticket from "@norfield/ticket";

export default {
  name: "company",
  async mounted() {
    this.loading = true;
    this.ticket = new Ticket(this.ticketProps);
    this.center = await this.centerService.FindOne({ name: "JULIE" });
    this.ticket.configure(this.center.ticket);
    this.loading = false;
  },
  data() {
    return {
      Tag,
      Priority,
      Field,
      centerService: new CenterService(),
      loading: false,
      center: null,
      ticketProps: {
        id: 1,
        createdBy: "me",
        updatedBy: "me",
        place: "test CIT",
        number: "A00032343333",
        caller: {
          lastName: "Heirendt"
        },
        priority: 1,
        revision: "001",
        center: "JULIE",
        tags: ["Design"]
      },
      ticket: null,
      events: [],
      rule: undefined,
      snack: null,
      types: ["String", "Number", "Date", "Boolean"]
    };
  },
  methods: {
    async saveConfig(property) {
      return new Promise((resolve, reject) => {
        const invalid = this.center.validate();
        if (invalid) reject(invalid.ticket[property]);
        // TODO: Save
        resolve();
      });
    },
    async save() {
      await this.center.save();
    },
    resetTicket() {
      this.ticket = new Ticket(this.ticketProps);
    },
    async evaluateTicket() {
      this.ticket = new Ticket(this.ticket);
      const res = await this.ticket.evaluateRules(
        this.center.ticket.rules,
        true
      );
      this.events = res;
    },
    async validateTicket() {
      this.ticket = new Ticket(this.ticket);
      this.ticket.configure(this.center.ticket);

      const validity = await this.ticket.validateAsync();

      this.snack = {
        color: validity ? "error" : "success",
        message: validity ? validity : "Ticket is valid"
      };
    },
    applyEvent(event) {
      this.ticket = new Ticket(this.ticket);
      this.ticket.applyEvent(event);
      const idx = this.events.indexOf(event);
      this.events.splice(idx, 1);
    },
    edit(rule) {
      this.rule = rule;
    },
    remove(rule) {
      const idx = this.center.ticket.rules.indexOf(rule);
      if (idx === -1) return;
      this.center.ticket.rules.splice(idx, 1);
    },
    summary(rule) {
      const type = Object.keys(rule.conditions)[0];
      const val = rule.conditions[type]
        .map(con => con.fact + " " + con.operator + " " + con.value)
        .join(type === "all" ? " AND " : " OR ");
      return val;
    },
    triggers(rule) {
      const type = rule.event.type;
      if (type === "validate") {
        return "Validate " + rule.event.params.path;
      }
      return `${type} ${rule.event.params.value} on ${rule.event.params.path}`;
    },
    newRule() {
      const rule = {
        name: "",
        conditions: { all: [] },
        event: undefined
      };
      this.center.ticket.rules.push(rule);
      this.rule = rule;
    },
    newPriority() {
      const priority = {
        name: "",
        priority:
          this.center.ticket.priorities
            .map(p => p.priority)
            .reduce((a, b) => Math.max(a, b)) + 1
      };
      this.center.ticket.priorities.push(priority);
    },
    newTag() {
      this.center.ticket.tags.push({
        name: ""
      });
    },
    newField() {
      this.center.ticket.fields.push({
        name: "",
        type: "string"
      });
    },
    formatField(field) {
      if (!field) return {};
      if (field.type) return field.type;
      const result = {};
      field.fields.forEach(child => {
        result[child.name] = child.type;
      });
      return result;
    }
  }
};
</script>
