<template>
  <div class="data-map">
    <vl-map
      ref="map"
      class="vl-map"
      data-projection="EPSG:4326"
      :load-tiles-while-animating="true"
      :load-tiles-while-interacting="true"
      @postcompose="onMapPostCompose"
      @mounted="onMapMounted"
    >
      <vl-view ref="view" :center.sync="center" :zoom.sync="zoom" :rotation.sync="rotation"></vl-view>

      <!-- base layers -->
      <vl-layer-tile
        v-for="layer in baseLayers"
        :key="layer.name"
        :id="layer.name"
        :visible="layer.visible"
      >
        <component :is="'vl-source-' + layer.name" v-bind="layer"></component>
      </vl-layer-tile>
      <!--// base layers -->

      <!-- user interraction -->
      <vl-layer-vector>
        <vl-source-vector ident="draw-target" :features.sync="drawnFeatures"></vl-source-vector>
      </vl-layer-vector>

      <vl-interaction-draw source="draw-target" v-if="drawType" :type="drawType"></vl-interaction-draw>
      <vl-interaction-modify source="draw-target"></vl-interaction-modify>
      <vl-interaction-snap source="draw-target" :priority="10"></vl-interaction-snap>
      <!-- // user interraction -->

      <div class="buttons">
        <v-btn
          v-for="control in drawControls"
          :key="control.type || -1"
          @click="drawType = control.type"
          :color="drawType && drawType === control.type ? 'accent' : ''"
        >
          <v-icon>{{control.icon}}></v-icon>
          <span>{{ control.label }}</span>
        </v-btn>
      </div>
    </vl-map>
  </div>
</template>

<style lang="scss">
.data-map {
  width: 100%;
  height: 100%;
}
</style>

<script>
// import ScaleLine from "ol/control/ScaleLine";
// import OverviewMap from "ol/control/OverviewMap";
// import ZoomSlider from "ol/control/ZoomSlider";

export default {
  data() {
    return {
      center: [0, 0],
      zoom: 2,
      rotation: 0,
      // base layers
      baseLayers: [
        {
          name: "osm",
          title: "OpenStreetMap",
          visible: false
        },
        {
          name: "bingmaps",
          title: "Bing Maps",
          apiKey:
            "ArbsA9NX-AZmebC6VyXAnDqjXk6mo2wGCmeYM8EwyDaxKfQhUYyk0jtx6hX5fpMn",
          imagerySet: "AerialWithLabelsOnDemand",
          visible: true
        }
      ],
      drawType: "point",
      drawnFeatures: [],
      drawControls: [
        {
          type: "point",
          label: "Draw Point",
          icon: "mdi-point"
        },
        {
          type: "line-string",
          label: "Draw LineString",
          icon: "mdi-minus"
        },
        {
          type: "polygon",
          label: "Draw Polygon",
          icon: "mdi-square-o"
        },
        {
          type: "circle",
          label: "Draw Circle",
          icon: "mdi-circle-thin"
        },
        {
          type: null,
          label: "Stop drawing",
          icon: "mdi-times"
        }
      ]
    };
  },
  props: {},
  watch: {},
  methods: {
    onMapPostCompose({ vectorContext, frameState }) {
      if (!this.$refs.marker || !this.$refs.marker.$feature) return;
      const feature = this.$refs.marker.$feature;
      if (!feature.getGeometry() || !feature.getStyle()) return;
      const flashGeom = feature.getGeometry().clone();
      const duration = feature.get("duration");
      const elapsed = frameState.time - feature.get("start");
      const elapsedRatio = elapsed / duration;
      const radius = easeInOut(elapsedRatio) * 35 + 5;
      const opacity = easeInOut(1 - elapsedRatio);
      const fillOpacity = easeInOut(0.5 - elapsedRatio);
      vectorContext.setStyle(
        createStyle({
          imageRadius: radius,
          fillColor: [119, 170, 203, fillOpacity],
          strokeColor: [119, 170, 203, opacity],
          strokeWidth: 2 + opacity
        })
      );
      vectorContext.drawGeometry(flashGeom);
      vectorContext.setStyle(feature.getStyle()(feature)[0]);
      vectorContext.drawGeometry(feature.getGeometry());
      if (elapsed > duration) {
        feature.set("start", Date.now());
      }
      this.$refs.map.render();
    },
    onMapMounted() {
      // now ol.Map instance is ready and we can work with it directly
      //   this.$refs.map.$map.getControls().extend([
      // new ScaleLine(),
      // new OverviewMap({
      //   collapsed: false,
      //   collapsible: true
      // }),
      // new ZoomSlider()
      //   ]);
    },
    updateSize() {
      if (!this.$refs.map || !this.$refs.map.$map) return;

      this.$refs.map.updateSize();
    }
  }
};
</script>