<template>
  <div class="vertical-resize pos-relative">
    <div class="top">
      <slot
        name="top"
        :maximized="position === 100"
        :minimized="position === 0"
        :animating="animating"
        :toggle="() => toggle('top')"
      ></slot>
    </div>
    <div class="bottom" ref="bottom" :class="{rounded: rounded}">
      <div class="handle" v-if="$vuetify.breakpoint.mdAndDown">
        <svg height="10" width="50">
          <line x1="5" y1="5" x2="45" y2="5" stroke-linecap="round" />
        </svg>
      </div>
      <slot
        name="bottom"
        :maximized="position === 0"
        :minimized="position === 100"
        :animating="animating"
        :toggle="() => toggle('bottom')"
      ></slot>
    </div>
  </div>
</template>
<style>
.vertical-resize {
  height: 100%;
  width: 100%;
}
.top {
  width: 100%;
  transition: var(--transition, 0s) height ease-out;
  height: var(--height, 50%);
  max-height: calc(100% - 60px);
}
.bottom {
  position: relative;
  min-height: 68px;
  transition: var(--transition, 0s) height ease-out;
  height: var(--inverse-height, 50%);
}
.bottom.rounded {
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;
  width: 100%;
  border: solid;
  border-color: white;
  background: white;
}
.bottom .handle {
  margin-top: -10px;
  width: 100%;
  height: 60px;
  position: absolute;
  top: 0;
  z-index: 5;
  pointer-events: none;
}
.bottom .handle svg {
  display: block;
  margin: auto;
}
.bottom .handle svg line {
  margin: auto;
  display: block;
  stroke: rgb(177, 177, 177);
  stroke-width: 5;
}
</style>

<script>
// A resizable panel to be rendered on top of a full size container. Touch gestures are recognized for panel display options.
// @group Common
export default {
  name: "vertical-resize",
  data() {
    return {
      animating: false,
      touches: {
        start: 0,
        end: 0,
        direction: undefined,
        moving: false,
        distance: 0,
        cancel: false
      }
    };
  },
  props: {
    // The position for the top of the default slot content
    position: {
      type: Number,
      default: 50
    },
    // Adds a border radius to the top right and top left corner of the panel when set to true
    rounded: Boolean
  },
  mounted() {
    this.$refs.bottom.addEventListener("touchstart", this.touchStart);
    this.$refs.bottom.addEventListener("touchmove", this.touchMove);
    this.$refs.bottom.addEventListener("touchend", this.touchEnd);
  },
  methods: {
    touchStart($event) {
      this.touches.moving = true;
      this.touches.start =
        ($event.touches.item(0).clientY / (screen.height || 1)) * 100;
    },
    async touchMove($event) {
      if (this.touches.moving && !this.touches.cancel) {
        const pos = $event.touches.item(0).clientY;
        this.touches.end = (pos / (screen.height || 1)) * 100;
        const distance = this.touches.end - this.touches.start,
          height = Math.max(this.position + distance, 0);
        await this.resize(height);
      }
    },
    async touchEnd($event) {
      if (!this.touches.moving) return;
      let target = this.position;
      const { end, start } = this.touches,
        direction = end > start ? "down" : "up";
      if (direction === "up") {
        if (end < 50) {
          target = 0;
        } else {
          target = 50;
        }
      }
      if (direction === "down") {
        if (end > 50) {
          target = 100;
        } else {
          target = 50;
        }
      }
      await this.resize(target, true);
      this.$emit("update:position", target);
      this.touches = {
        moving: false,
        start: 0,
        end: 0
      };
    },
    async toggle(slot) {
      let target = 0;
      const top = slot === "top";
      if (top) {
        target = 100;
      }
      if ((top && this.position > 50) || (!top && this.position !== 50)) {
        target = 50;
      }
      await this.resize(target, true);
      this.$emit("update:position", target);
    },
    /* istanbul ignore next */
    async resize(height, animate = false) {
      return new Promise(resolve => {
        if (animate) {
          this.animating = true;
          this.$el.style.setProperty("--transition", ".5s");
        }

        this.$el.style.setProperty("--height", `${height}%`);
        this.$el.style.setProperty(
          "--inverse-height",
          `${Math.abs(height - 100)}%`
        );
        if (animate) {
          setTimeout(() => {
            this.$el.style.setProperty("--transition", "0s");
            this.$emit("resize");
            this.animating = false;
            resolve(true);
          }, 500);
        } else {
          resolve(true);
        }
      });
    }
  }
};
</script>