<template>
  <div class="condition-editor">
    <div class="fact">
      <v-select label="Source" v-model="value.fact" :items="facts"></v-select>
    </div>
    <div class="operator">
      <v-select label="Operator" v-model="value.operator" :items="operators"></v-select>
    </div>
    <div class="value">
      <v-text-field label="Value" v-model="value.value"></v-text-field>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    value: Object
  },
  computed: {
    facts() {
      return ["priority", "tags", "place"];
    },
    operators() {
      return ["contains", "ends-with", "not-ends-with"];
    }
  },
  watch: {
    value: {
      handler($event) {
        this.$emit("input", $event);
      },
      deep: true
    }
  },
  methods: {}
};
</script>