<template>
  <div class="event-editor">
    <div class="type">
      <v-select label="Type" v-model="value.type" :items="eventTypes"></v-select>
    </div>
    <div class="params">
      <v-text-field label="Path" v-model="value.params.path"></v-text-field>
      <div v-if="value.type === 'validate'">
        <h3>Rules</h3>
      </div>
      <div v-else>
        <v-text-field label="Value" v-model="value.params.value"></v-text-field>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    value: Object
  },
  computed: {
    eventTypes() {
      return ["validate", "prepend", "append", "replace"];
    }
  },
  watch: {
    value: {
      handler($event) {
        this.$emit("input", $event);
      },
      deep: true
    }
  },
  methods: {}
};
</script>