<template>
  <div class="rule-editor" v-if="value">
    <v-stepper :vertical="true" v-model="step">
      <v-stepper-step :step="1" color="accent" :complete="step > 1">Name</v-stepper-step>
      <v-stepper-content :step="1">
        <v-text-field label="Name" v-model="value.name"></v-text-field>
        <v-btn color="primary" @click="nextStep(2)">Continue</v-btn>
      </v-stepper-content>
      <v-stepper-step :step="2" color="accent" :complete="step > 2">Conditions</v-stepper-step>
      <v-stepper-content :step="2">
        <top-condition-editor :value="value.conditions"></top-condition-editor>
        <v-btn text @click="nextStep(1)">Back</v-btn>
        <v-btn color="primary" @click="nextStep(3)">Continue</v-btn>
      </v-stepper-content>
      <v-stepper-step :step="3" color="accent" :complete="step > 3">Trigger</v-stepper-step>
      <v-stepper-content :step="3">
        <event-editor :value="value.event"></event-editor>
        <v-btn text @click="nextStep(2)">Back</v-btn>
        <v-btn color="primary" @click="save()">Save</v-btn>
      </v-stepper-content>
    </v-stepper>
  </div>
</template>

<script>
export default {
  props: {
    value: Object
  },
  data() {
    return {
      step: 1
    };
  },
  watch: {
    value: {
      handler($event) {
        this.$emit("input", $event);
      },
      deep: true
    }
  },
  methods: {
    nextStep(target) {
      this.step = target;
    },
    save() {
      this.$emit("save", this.value);
      this.step = 1;
    }
  }
};
</script>