<template>
  <div class="top-condition-editor" :class="{nested: nested}">
    <v-btn-toggle mandatory :value="condition" @change="updateCondition($event)">
      <v-btn value="all">all</v-btn>
      <v-btn value="any">any</v-btn>
    </v-btn-toggle>
    <h3>{{condition}} of the following conditions {{condition === 'all' ? 'must' : 'may'}} apply:</h3>
    <div class="top-conditions">
      <v-card v-for="(item, idx) of value[condition].filter(c => c['all'] || c['any'])" :key="idx">
        <v-card-title class="d-flex justify-space-between">
          <div></div>
          <v-btn icon @click="removeCondition(item)">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-title>
        <top-condition-editor :nested="!nested" :value="item"></top-condition-editor>
      </v-card>
    </div>
    <div class="conditions d-flex">
      <v-card
        v-for="(item, idx) of value[condition].filter(c => !c['all'] && !c['any'])"
        :key="idx"
        class="condition"
      >
        <v-card-title class="d-flex justify-space-between">
          <div>Condition</div>
          <v-btn icon @click="removeCondition(item)">
            <v-icon>mdi-close</v-icon>
          </v-btn>
        </v-card-title>
        <v-card-text>
          <condition-editor :value="item"></condition-editor>
        </v-card-text>
      </v-card>
    </div>
    <div class="mt-2">
      <v-btn class="mt-2" @click="newCondition()">Add Condition</v-btn>
      <v-btn class="mt-2" @click="newTop()">Add Complex Condition</v-btn>
    </div>
  </div>
</template>

<style lang="scss">
.top-condition-editor {
  &.nested {
    background: yellow;
  }
  .top-conditions {
    margin-left: 50px;
  }
  //   margin-left: 25px;
  //   padding: 4px;
  //   margin: 4px;
  .conditions {
    flex-grow: 4;
    flex-wrap: wrap;
    .condition {
      margin: 4px;
      width: 300px;
    }
  }
}
</style>

<script>
export default {
  props: {
    value: Object,
    nested: {
      type: Boolean,
      default: false
    }
  },
  computed: {
    facts() {
      return ["priority", "tags", "place"];
    },
    operators() {
      return ["contains", "ends-with", "not-ends-with"];
    },
    condition() {
      return Object.keys(this.value).indexOf("all") > -1 ? "all" : "any";
    }
  },
  watch: {
    value: {
      handler($event) {
        this.$emit("input", $event);
      },
      deep: true
    }
  },
  methods: {
    updateCondition($event) {
      const key = $event === "all" ? "any" : "all";
      this.$set(this.value, $event, this.value[key]);
      delete this.value[key];
    },
    newCondition() {
      this.value[this.condition].push({});
    },
    newTop() {
      this.value[this.condition].push({ all: [{}] });
    },
    removeCondition(item) {
      const idx = this.value[this.condition].indexOf(item);
      if (idx === -1) return;
      this.value[this.condition].splice(idx, 1);
    }
  }
};
</script>