<template>
  <v-app>
    <v-app-bar app>
      <v-app-bar-nav-icon @click="mini = !mini"></v-app-bar-nav-icon>
      <div class="d-flex align-center">Norfield</div>
      <v-spacer></v-spacer>
    </v-app-bar>
    <v-navigation-drawer dark color="primary" app :mini-variant.sync="mini">
      <v-list dense nav>
        <v-list-item two-line :class="mini && 'px-0'">
          <v-list-item-avatar>
            <v-icon>mdi-account</v-icon>
          </v-list-item-avatar>

          <v-list-item-content>
            <v-list-item-title>User</v-list-item-title>
            <v-list-item-subtitle>test@test.com</v-list-item-subtitle>
          </v-list-item-content>
          <v-btn icon @click.stop="mini = !mini">
            <v-icon>mdi-chevron-left</v-icon>
          </v-btn>
        </v-list-item>
      </v-list>
      <v-divider></v-divider>
      <v-list dense nav>
        <v-list-item
          @click.stop
          v-for="item in routes"
          :key="item.label"
          active-class="router-link-active"
          :to="item.url"
        >
          <v-list-item-action>
            <v-icon>{{item.icon}}</v-icon>
          </v-list-item-action>
          <v-list-item-content>
            <v-list-item-title>{{item.label}}</v-list-item-title>
          </v-list-item-content>
        </v-list-item>
      </v-list>
    </v-navigation-drawer>
    <v-content class="content-container" v-if="!loading">
      <router-view />
    </v-content>
  </v-app>
</template>
<style lang="scss"></style>

<script>
export default {
  name: "App",

  data() {
    return {
      loading: false,
      mini: false,
      routes: [
        {
          icon: "mdi-settings",
          label: "Center",
          url: "/center"
        }
      ]
    };
  }
};
</script>
